.header{
    background-color: rgb(44, 42, 42);
    color: white;
    text-align: center; 
    
}


li{
    color: rgb(255, 0, 0);
    display: inline;
  
    
}
h1{
    display: inline;

}


.products{
    text-align: center;
    margin-top: 30px;
}
.q{
    margin: 0%;
    color:crimson;
}



img{
    width: 200px;
    height: 370px;
    
}
.box{
   
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 200px;
    padding: 5px;

    
}
button{
    background-color: black;
    color: white;

}

.center{
     margin: auto;
     padding-top: 15px;
}
    
.ee{
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    margin-left: 47%;
}
.last{
    background-color: black;
    color: white;
    height: 250px;

}
.send{
    background-color: yellow;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color: black;
    display: inline-block;
    margin-left:40%;
    margin-top: 15px;
    margin-left:48% ;
}